@font-face {
    font-family: robotoflex-regular;
    src: url(/fonts/robotoflex-regular.ttf);
}

@font-face {
    font-family: tt-supermolot-regular;
    src: url(/fonts/tt-supermolot-regular.otf);
}

@font-face {
    font-family: tt-supermolot-bold;
    src: url(/fonts/tt-supermolot-bold.ttf);
}

@font-face {
    font-family: robotoflex-variants;
    src: url(/fonts/robotoflex-variants.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

/*-=-=-=-=-=-=-=-=-=-=- NAV BAR -=-=-=-=-=-=-=-=-=-=-*/

a {
    color: #4e64c5;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logodb {
    height: 8vh;
    margin-left: 10vh;
}

nav {
    display: flex;
    align-items: center;
    font-family: tt-supermolot-bold;
    background: #85d4f4;
    height: 16vh;
    width: 100%;
    z-index: 1000;
}

main {
    background: #ffffff;
    background-size: cover;
    height: 130vh; 
}

.menu {
    list-style: none;
    display: flex;
    margin-left: 10vh;
    font-size: 1.5vh;
}

.menu li {
    letter-spacing: 0.2vh;
    margin-left: 18vh;
}

.socialMedia {
    list-style: none;
    display: flex;
    margin-left: 55vh;
}

.socialMedia li {
    letter-spacing: 0.2vh;

}

.socialMedia img {
    height: 3.5vh;
    width: auto;
    transition: 0.3s;
}

.socialMedia img:hover {
    opacity: 0.7;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
.textos {
    color: #292929;
    margin-right: 18vh;
    margin-left: 10vh;
}

.meuNomeE {
    font-family: tt-supermolot-bold;
    font-size: 4.5vh;
    margin-top: 13vh;
}

.nome {
    font-family: robotoflex-variants;
    font-size: 10vh;
    margin-top: 3vh;
}

.souTrainee {
    font-family: tt-supermolot-regular;
    font-size: 4.5vh;
    margin-top: 2vh;
}

.sobreMim {
    font-family: tt-supermolot-bold;
    font-size: 3vh;
    margin-top: 12vh;
}

.textoSobreMim {
    font-family: robotoflex-regular;
    font-size: 2.5vh;
    margin-top: 5vh;
}

.visaoGeral {
    display: flex;
    justify-content: space-between;
}

.imagemHabilidades {
    margin-right: 10vh;
}

.fotoJoao {
    height: 40vh;
    display: flex;
    margin-top: 13vh;
}

.habilidades {
    display: flex;
    flex-direction: column;
}

.habilidadesTexto {
    font-family: tt-supermolot-bold;
    color: #292929;
    font-size: 4vh;
    margin-top: 8vh;
    margin-bottom: 5vh;
}

.backEnd {
    font-family: tt-supermolot-bold;
    margin-bottom: 2vh;
}

.backEndLista {
    font-family: robotoflex-regular;
    margin-left: 3vh;
}

.frontEnd {
    font-family: tt-supermolot-bold;
    margin-top: 6vh;
    margin-bottom: 2vh;
}

.frontEndLista {
    font-family: robotoflex-regular;
    margin-left: 3vh;
}

.backListaNivelDIV, .frontListaNivelDIV {
    display: flex;
    justify-content: space-between;
    width: 57%;
}

.backListaNivelDIV ul li, .frontListaNivelDIV ul li {
    margin-left: 10px;
    list-style: none;
    color: #292929;
}

.backListaNivelDIV, .frontListaNivelDIV ul {
    line-height: 30px;
}

.backListaNivel img, .frontListaNivel img {
    transform: scaleX(-1);
    
}

.backListaNivel li, .frontListaNivel li {
    line-height: 24px;

}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #85d4f4;
    height: 16vh;
    width: 100%;
    z-index: 1000;
}

.logoDBFooter {
    height: 10vh;
}



@media (min-width: 3400px) {

    .socialMedia {
        margin-left: 110vh;
    }

    nav {
        height: 12vh;
    }

}

@media (max-width: 1920px) {

    .logodb {
        height: 7vh;
        margin-left: 10vh;
    }

    .menu {
        margin-left: 5vh;
    }
    
    .menu li {
        margin-left: 15vh;
    }
    
    .socialMedia {
        list-style: none;
        display: flex;
        margin-left: 40vh;
    }
    
    .socialMedia li {
        letter-spacing: 0.2vh;
        
    }

    .socialMedia img {
        height: 3.3vh;
    }

}

@media (max-width: 1280px) {

    main {
        height: 150vh;
    }

    .logodb {
        height: 7vh;
        margin-left: 10vh;
    }

    .menu {
        margin-left: 5vh;
    }
    
    .menu li {
        margin-left: 15vh;
    }
    
    .socialMedia {
        list-style: none;
        display: flex;
        margin-left: 40vh;
    }
    
    .socialMedia li {
        letter-spacing: 0.2vh;
        
    }

    .socialMedia img {
        height: 3.3vh;
    }

    .backEndLista li, .frontEndLista li {
        font-family: robotoflex-regular;
        margin-left: 3vh;
        white-space: nowrap; /* Impede a quebra de linha */
    }

}

@media (max-width: 1150px) {

    .logodb {
        height: 7vh;
        margin-left: 10vh;
    }

    .menu {
        margin-left: 5vh;
    }
    
    .menu li {
        margin-left: 15vh;
    }
    
    .socialMedia {
        list-style: none;
        display: flex;
        margin-left: 40vh;
    }
    
    .socialMedia li {
        letter-spacing: 0.2vh;
        
    }

    .socialMedia img {
        height: 3.3vh;
    }

    .backEndLista li, .frontEndLista li {
        font-family: robotoflex-regular;
        margin-left: 3vh;
        white-space: nowrap; /* Impede a quebra de linha */
    }

}

@media (max-width: 800px) {
    .socialMedia {
        margin-left: 10vh;
    }

    .meuNomeE {
        font-size: 3.5vh;
    }

    .nome {
        font-size: 7vh;
    }
    
    .souTrainee {
        font-size: 3.5vh;
    }
    
    .sobreMim {
        font-size: 3vh;
    }
    
    .textoSobreMim {
        font-size: 2.5vh;
    }

}

@media (max-width: 450px) {
    .nav-container {
        flex-direction: column;
        height: auto;
        padding: 2vh;
    }

    .logodb {
        height: 7vh;
        margin-bottom: 2vh;
        margin-left: 0;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        width: 100%;
        margin-top: 2vh;
    }

    .menu li {
        margin-left: 0;
        margin-bottom: 2vh;
    }


    .socialMedia {
        justify-content: center;
        width: 100%;
        margin-top: 2vh;
        margin-right: 0;
        margin-left: 0;
    }

    .socialMedia li {
        margin: 2vh;
        margin-bottom: 2vh;
    }

    main {
        display: flex;
        flex-direction: column;
        height: 210vh;
        padding: 2vh;
    }

    .visaoGeral {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 8vh;
    }

    .fotoJoao {
        height: 35vh;
        margin-top: 10vh;
    }

    .meuNomeE {
        margin-top: 10vh;
        font-size: 2.5vh;
        text-align: center;
    }

    .nome {
        font-size: 4.5vh;
        white-space: nowrap;
        text-align: center;
    }

    .souTrainee {
        font-size: 2.5vh;
        margin-left: 0;
        text-align: center;
        width: 100%;
    }

    .sobreMim {
        text-align: center;
        font-size: 2.5vh;
        margin-top: 10vh;
    }

    .textoSobreMim {
        font-size: 1.5vh;
        margin-left: 0;
        text-align: center;
        width: 100%; 
    }

    .habilidades {
        margin-left: 5vh;
    }

    .backListaNivel, .frontListaNivel {
        margin-left: 8vh;
    }
    
}

@media (max-width: 400px) {
    
}

@media (min-width: 300px) and (max-width: 380px) {
    main {
        height: 230vh;
    }

    .fotoJoao {
        height: 40vh;
    }
}