/* ========================== */
/* FONT-FACES, RESET & GLOBAIS */
/* ========================== */
@font-face {
  font-family: robotoflex-regular;
  src: url('/public/fonts/robotoflex-regular.ttf');
}

@font-face {
  font-family: tt-supermolot-regular;
  src: url('/public/fonts/tt-supermolot-regular.otf');
}

@font-face {
  font-family: tt-supermolot-bold;
  src: url('/public/fonts/tt-supermolot-bold.ttf');
}

@font-face {
  font-family: robotoflex-variants;
  src: url('/public/fonts/robotoflex-variants.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}


/*  
  a {
    color: rgb(238, 233, 233);
  }
  nav {
    background: #111111;
  }
  background:#292929;
  */

  body.dark {
    nav {
      background: #111111;
    }

    footer {
      background: #111111;
    }

    main {
      background: #292929;
    }

    .home {
      color:#eee4e9;
    }

    .textos {
      color: #eee4e9;
    }

    .habilidadesTexto {
      color: #eee4e9;
    }

    .backEndLista li, .frontEndLista li {
      color: #eee4e9;
    }

    .meus {
      color: #eee4e9;
    }

    .projetos {
      color: #eee4e9;
    }

.cards > .card1,
.cards > .card2,
.cards > .card3,
.cardsSegundaLinha > .card1,
.cardsSegundaLinha > .card2,
.cardsSegundaLinha > .card3,
.cardsTerceiraLinha > .card1,
.cardsTerceiraLinha > .card2,
.cardsTerceiraLinha > .card3 {
  background: rgb(12, 12, 12);
  color:#eee4e9;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.ferramentas1 {
  color: #e9ae0b;
}

.textoCard {
  color:#eee4e9;
}

.acessar {
  background: linear-gradient(170deg, #e9ae0b 50%, #cf9b0a 50%);
  color: #fff;
}
  }
  
  /* Outros ajustes para dark mode, como alterar cores de links, botões, etc. */
  body.dark a {
    color: rgb(238, 233, 233);
  }

/*-=-=-=-=-=-=-=-=-=-=- NAV BAR -=-=-=-=-=-=-=-=-=-=-*/

a {
  color: #4e64c5;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logodb {
  height: 8vh;
  margin-left: 10vh;
}

nav {
  display: flex;
  align-items: center;
  font-family: tt-supermolot-bold;
  background: #85d4f4;
  height: 16vh;
  width: 100%;
  z-index: 1000;
}

main {
  background: #ffffff;
  background-size: cover; 
}

.home {
  height: 130vh;
}

.projects {
  height: 300vh; /* Aumentada de 300vh para 400vh para acomodar a quarta linha */
}

.menu {
  list-style: none;
  display: flex;
  margin-left: 10vh;
  font-size: 1.5vh;
}

.menu li {
  letter-spacing: 0.2vh;
  margin-left: 18vh;
}

.socialMedia {
  list-style: none;
  display: flex;
  margin-left: 55vh;
}

.socialMedia li {
  letter-spacing: 0.2vh;

}

.socialMedia img {
  height: 3.5vh;
  width: auto;
  transition: 0.3s;
}

.socialMedia img:hover {
  opacity: 0.7;
}

button#theme-switch {
  background: none;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
.textos {
  color: #292929;
  margin-right: 18vh;
  margin-left: 10vh;
}

.meuNomeE {
  font-family: tt-supermolot-bold;
  font-size: 4.5vh;
  margin-top: 13vh;
}

.nome {
  font-family: robotoflex-variants;
  font-size: 10vh;
  margin-top: 3vh;
}

.souTrainee {
  font-family: tt-supermolot-regular;
  font-size: 4.5vh;
  margin-top: 2vh;
}

.sobreMim {
  font-family: tt-supermolot-bold;
  font-size: 3vh;
  margin-top: 12vh;
}

.textoSobreMim {
  font-family: robotoflex-regular;
  font-size: 2.5vh;
  margin-top: 5vh;
}

.visaoGeral {
  display: flex;
  justify-content: space-between;
}

.imagemHabilidades {
  margin-right: 10vh;
}

.fotoJoaoDiv {
  display: flex;
  justify-content: center;
}

.fotoJoao {
  height: 40vh;
  display: flex;
  margin-top: 13vh;
}

.habilidades {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.habilidadesTexto {
  font-family: tt-supermolot-bold;
  color: #292929;
  font-size: 4vh;
  margin-top: 8vh;
  margin-bottom: 5vh;
}

.backEnd {
  font-family: tt-supermolot-bold;
  margin-bottom: 2vh;
}

.backEndLista {
  font-family: robotoflex-regular;
  margin-left: 3vh;
}

.frontEnd {
  font-family: tt-supermolot-bold;
  margin-top: 6vh;
  margin-bottom: 2vh;
}

.frontEndLista {
  font-family: robotoflex-regular;
  margin-left: 3vh;
}

.backListaNivelDIV, .frontListaNivelDIV {
  display: flex;
  justify-content: space-between;
  width: 57%;
}

.backListaNivelDIV ul li, .frontListaNivelDIV ul li {
  margin-left: 10px;
  list-style: none;
  color: #292929;
}

.backListaNivelDIV, .frontListaNivelDIV ul {
  line-height: 30px;
}

.backListaNivel img, .frontListaNivel img {
  transform: scaleX(-1);
  
}

.backListaNivel li, .frontListaNivel li {
  line-height: 24px;

}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #85d4f4;
  height: 16vh;
  width: 100%;
  z-index: 1000;
}

.logoDBFooter {
  height: 10vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

/*-=-=-=-=-=-=-=-=-=-=- NAV BAR -=-=-=-=-=-=-=-=-=-=-*/

a {
  color: #4e64c5;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logodb {
  height: 8vh;
  margin-left: 10vh;
}

nav {
  display: flex;
  align-items: center;
  font-family: tt-supermolot-bold;
  background: #85d4f4;
  height: 16vh;
  width: 100%;
  z-index: 1000;
}

main {
  background: #ffffff;
  background-size: cover; 
}

.menu {
  list-style: none;
  display: flex;
  margin-left: 10vh;
  font-size: 1.5vh;
}

.menu li {
  letter-spacing: 0.2vh;
  margin-left: 18vh;
}

.socialMedia {
  list-style: none;
  display: flex;
  margin-left: 55vh;
}

.socialMedia li {
  letter-spacing: 0.2vh;

}

.socialMedia img {
  height: 3.5vh;
  width: auto;
  transition: 0.3s;
}

.socialMedia img:hover {
  opacity: 0.7;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/ 

.meus {
  font-family: tt-supermolot-bold;
  color:#292929;
  font-size: 4.5vh;
  margin-top: 12vh;
}

.projetos {
  font-family: robotoflex-variants;
  color:#292929;
  font-size: 9vh;
  margin-top: 2vh;
  margin-bottom: 9vh;
}

.visaoGeral {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cards,
.cardsSegundaLinha,
.cardsTerceiraLinha {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30vh;
}

.cardsSegundaLinha,
.cardsTerceiraLinha {
  margin-top: 10vh;
}

.cards img, 
.cardsSegundaLinha img,
.cardsTerceiraLinha img {
  width: 100%;
  height: 35%;
  object-fit: cover;
  border-radius: 1vh;
}

/* Fazendo os cards terem posicionamento relativo para acomodar o botão fixo */
.cards > .card1, 
.cards > .card2, 
.cards > .card3,
.cardsSegundaLinha > .card1,
.cardsSegundaLinha > .card2,
.cardsSegundaLinha > .card3,
.cardsTerceiraLinha > .card1,
.cardsTerceiraLinha > .card2,
.cardsTerceiraLinha > .card3 {
  position: relative;
  background: rgb(239, 239, 239);
  color:#292929;
  height: 68vh;
  width: 43vh;
  flex: 1;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 1vh;
  padding-bottom: 10vh; /* Espaço para o botão na parte inferior */
  display: flex;
  flex-direction: column;
}

.cards h3, 
.cardsSegundaLinha h3,
.cardsTerceiraLinha h3 {
  font-family: tt-supermolot-bold;
  font-size: 4.5vh;
  margin-left: 3vh;
  margin-top: 2vh;
}

.ferramentas1 {
  font-family: tt-supermolot-bold;
  font-size: 2vh;
  margin-left: 3vh;
  margin-top: 2vh;
  color: #ED177D;
}

.textoCard {
  font-family: robotoflex-regular;
  color:#292929;
  font-size: 2.2vh;
  margin-left: 3vh;
  margin-right: 3vh;
  margin-top: 2vh;
}

button {
  font-family: tt-supermolot-bold;
  font-size: 2.8vh;
  border: none;
}

/* Fixando o botão na parte inferior do card */
.acessar {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(170deg, #414ABA 50%, #373d8f 50%);
  color: #fff;
  height: 6vh;
  width: 38vh;
  border-radius: 1vh;
  margin-left: 0;
  margin-top: 0;
}

/*
.doisBotoes {
  background: #414ABA;
  color: #fff;
  height: 6vh;
  width: 19vh;
  margin-left: 1vh;
  margin-top: 2vh;
  border-radius: 1vh;
}
*/

.divBotoes {
  margin-left: 0.5vh;
}

/* Não é mais necessário com o posicionamento absoluto */
#acessar3 {
  /* margin-top: 4vh; */ 
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #85d4f4;
  height: 16vh;
  width: 100%;
  z-index: 1000;
}

.logoDBFooter {
  height: 10vh;
}



@media (min-width: 3400px) {

  .socialMedia {
      margin-left: 110vh;
  }

  nav {
      height: 12vh;
  }

}

@media (max-width: 1920px) {

  .logodb {
      height: 7vh;
      margin-left: 10vh;
  }

  .menu {
      margin-left: 5vh;
  }
  
  .menu li {
      margin-left: 13vh;
  }
  
  .socialMedia {
      list-style: none;
      display: flex;
      margin-left: 48vh;
  }
  
  .socialMedia li {
      letter-spacing: 0.2vh;
      
  }

  .socialMedia img {
      height: 3.3vh;
  }

  .cards, 
  .cardsSegundaLinha,
  .cardsTerceiraLinha {
      gap: 15vh;
  }

}

@media (max-width: 1600px) {

  .home {
    height: 145vh;
  }
}

@media (max-width: 1280px) {
  .logodb {
      height: 7vh;
      margin-left: 10vh;
  }

  .home {
    height: 150vh;
  }

  .menu {
      margin-left: 5vh;
  }
  
  .menu li {
      margin-left: 15vh;
  }
  
  .socialMedia {
      list-style: none;
      display: flex;
      margin-left: 40vh;
  }
  
  .socialMedia li {
      letter-spacing: 0.2vh;
      
  }

  .socialMedia img {
      height: 3.3vh;
  }
}

@media (max-width: 800px) {

  .menu li {
    margin-left: 10vh;
  }

  .socialMedia {
    margin-left: 10vh;
  }

  .meuNomeE {
    font-size: 3.5vh;
  }

  .nome {
    font-size: 7vh;
  }

  .souTrainee {
    font-size: 3.5vh;
  }

  .sobreMim {
    font-size: 3vh;
  }

  .textoSobreMim {
    font-size: 2.5vh;
  }

  .cardsETextos {
      margin-right: 18vh;
      margin-left: 10vh;
  }

  .cards, 
  .cardsSegundaLinha,
  .cardsTerceiraLinha {
      gap: 5vh;
  }
  
}

@media (max-width: 450px) {
  .nav-container {
      flex-direction: column;
      height: auto;
      padding: 2vh;
  }

  .logodb {
      height: 7vh;
      margin-bottom: 2vh;
      margin-left: 0;
  }

  .menu {
      flex-direction: column;
      align-items: center;
      margin-left: 0;
      width: 100%;
      margin-top: 2vh;
  }

  .menu li {
      margin-left: 0;
      margin-bottom: 2vh;
  }


  .socialMedia {
      justify-content: center;
      width: 100%;
      margin-top: 2vh;
      margin-right: 0;
      margin-left: 0;
  }

  .socialMedia li {
      margin: 2vh;
      margin-bottom: 2vh;
  }

  .home {
      display: flex;
      flex-direction: column;
      height: 210vh;
      padding: 2vh;
  }

  .projects {
    height: 790vh; /* Aumentado de 540vh para 810vh para acomodar a terceira linha */
  }

  .visaoGeral {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 8vh;
  }

  .meus {
      font-size: 2.5vh;
      text-align: center;
      margin-top: 10vh;
  }

  .projetos {
      font-size: 5.5vh;
      text-align: center;
      margin-bottom: 5vh;
  }

  .cards, 
  .cardsSegundaLinha,
  .cardsTerceiraLinha {
      flex-direction: column;
      align-items: center;
  }

  .cards img, 
  .cardsSegundaLinha img,
  .cardsTerceiraLinha img {
      width: 100%;
      height: auto;
      max-height: 25vh;
      object-fit: cover;
      border-radius: 1vh;
  }
  
.cards > .card1, 
.cards > .card2, 
.cards > .card3,
.cardsSegundaLinha > .card1,
.cardsSegundaLinha > .card2,
.cardsSegundaLinha > .card3,
.cardsTerceiraLinha > .card1,
.cardsTerceiraLinha > .card2,
.cardsTerceiraLinha > .card3 {
      height: 68vh;
      width: 43vh;
      margin: 5vh;
      flex: 0 0 auto;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
      border-radius: 1vh;
  }

  .nav-container {
    flex-direction: column;
    height: auto;
    padding: 2vh;
  }

  .logodb {
    height: 7vh;
    margin-bottom: 2vh;
    margin-left: 0;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    width: 100%;
    margin-top: 2vh;
  }

  .menu li {
    margin-left: 0;
    margin-bottom: 2vh;
  }


  .socialMedia {
    justify-content: center;
    width: 100%;
    margin-top: 2vh;
    margin-right: 0;
    margin-left: 0;
  }

  .socialMedia li {
    margin: 2vh;
    margin-bottom: 2vh;
  }

  /*<MAIN>*/
  .home {
    display: flex;
    flex-direction: column;
    padding: 2vh;
  }

  .visaoGeral {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 8vh;
  }

  .fotoJoao {
    height: 35vh;
    margin-top: 10vh;
  }

  .meuNomeE {
    margin-top: 10vh;
    font-size: 2.5vh;
    text-align: center;
  }

  .nome {
    font-size: 4.5vh;
    white-space: nowrap;
    text-align: center;
  }

  .souTrainee {
    font-size: 2.5vh;
    margin-left: 0;
    text-align: center;
    width: 100%;
  }

  .sobreMim {
    text-align: center;
    font-size: 2.5vh;
    margin-top: 10vh;
  }

  .textoSobreMim {
    font-size: 1.5vh;
    margin-left: 0;
    text-align: center;
    width: 100%; 
  }

  .habilidades {
    margin-left: 5vh;
    transform: scale(0.8);
  }

  .backListaNivel, .frontListaNivel {
    margin-left: 8vh;
  }
  
  /* Ajustar os botões em telas menores */
  .acessar {
    width: 80%;
    font-size: 2.4vh;
    bottom: 2vh;
  }
}

@media (max-width: 400px) {
  .home {
    height: 230vh;
  }
}

@media (min-width: 300px) and (max-width: 380px) {

  .meus {
      font-size: 3vh;
      text-align: center;
  }

  .projetos {
      font-size: 7vh;
      text-align: center;
      margin-bottom: 5vh;
  }

  .cards, 
  .cardsSegundaLinha,
  .cardsTerceiraLinha {
      flex-direction: column;
      align-items: center;
  }

  .cards img, 
  .cardsSegundaLinha img,
  .cardsTerceiraLinha img {
      width: 100%;
      height: auto;
      max-height: 25vh;
      object-fit: cover;
      border-radius: 1vh;
  }
  
.cards > .card1, 
.cards > .card2, 
.cards > .card3,
.cardsSegundaLinha > .card1,
.cardsSegundaLinha > .card2,
.cardsSegundaLinha > .card3,
.cardsTerceiraLinha > .card1,
.cardsTerceiraLinha > .card2,
.cardsTerceiraLinha > .card3 {
      height: 68vh;
      width: 43vh;
      margin: 5vh;
      flex: 0 0 auto;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
      border-radius: 1vh;
  }

  .home {
    height: 230vh;
  }

  .fotoJoao {
      height: 40vh;
  }
  
}